.popupp{
    width: 311px;
    height: 380px;
    background: #fff;
    border-radius: 11.24px;
    position: absolute;
    left: 756px;
    top: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    justify-content: center;
    visibility: hidden;
    transition: transform 0.1s, top 0.4s;
    box-shadow: 0 45px 85px #383842;
    z-index: 999;
   
}




.popupp img {
    width: 146.03px;
    height: 152.9px;
}


    .popupp p{
        font-size: 25px;
        font-weight: 500;
        margin: -9px 0 8px;
        font-family: 'darker-regular';
       
        
    }



    .popupp button{
        width: 115.42px;
        height: 43.77px;
        margin-top: 17px;
        padding: 10px 0;
        background: #EDE4FF;
        color: #000000;
        font-family: 'antic';
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius:17.99px;
        cursor: pointer;
       
    }


    .open-popupp{
        visibility: visible;
        top: 704px;
        transform: translate(-50%,-50%) scale(1);
       
    
    }


    .modal{
        width: 311px;
        height: 380px;
        background: #fff;
        border-radius: 11.24px;
        position: absolute;
        left: 756px;
        top: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        justify-content: center;
        visibility: hidden;
        transition: transform 0.1s, top 0.4s;
        box-shadow: 0 45px 85px #383842;
        z-index: 999;
       
    }


    .modal p{
        font-size: 25px;
        font-weight: 500;
        margin: -9px 0 8px;
        font-family: 'darker-regular';
       
        
    }


    .modal button{
        width: 115.42px;
        height: 43.77px;
        margin-top: 17px;
        padding: 10px 0;
        background: #EDE4FF;
        color: #000000;
        font-family: 'antic';
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius:17.99px;
        cursor: pointer;
       
    }

    .modal img {
        width: 146.03px;
        height: 152.9px;
    }
    

    
    .open-modal{
        visibility: visible;
        top:  1199px;
        transform: translate(-50%,-50%) scale(1);
       
    
    }
    

    .over{
        width: 311px;
        height: 380px;
        background: #fff;
        border-radius: 11.24px;
        position: absolute;
        left: 756px;
        top: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        justify-content: center;
        visibility: hidden;
        transition: transform 0.1s, top 0.4s;
        box-shadow: 0 45px 85px #383842;
        z-index: 999;
       
    }
    
    .over p{
        font-size: 25px;
    font-weight: 500;
    margin: -9px 0 8px;
        font-family: 'darker-regular';
       
        
    }

    .over button{
        width: 115.42px;
        height: 43.77px;
        margin-top: 17px;
        padding: 10px 0;
        background: #EDE4FF;
        color: #000000;
        font-family: 'antic';
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius:17.99px;
        cursor: pointer;
       
    }

.over img{
 
        width: 146.03px;
        height: 152.9px;

    
}

    .open-over{
        visibility: visible;
        top: 1686px;
        transform: translate(-50%,-50%) scale(1);
       
    
    }


    #overlay{
      
            width: 146.03px;
            height: 152.9px;
  
        
    }



    
@media screen and (max-width:400px) {


    .over, .modal, .popupp{
        position: absolute;
    background-color: #fff;
    width: 276px;
    height: 366px;
    left: 200px;
    box-shadow: 0 25px 65px #383842;
    }
    

    .open-over, .open-modal, .open-popupp{
        top: 438px;
    }

.b{
    cursor: pointer;
  background-color: #fff;
    width: 35px;
    padding-right: 41px;
}

}